.main-banner {
  width: 100% !important;
  /* border-radius: 5%; */
  /* height: 100vh; */
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 100%, cover !important;
}

.banner-text {
  /* text-align: center; */
  justify-content: center;
  padding: 15px;
  height: 85vh;
}

.banner-text h2{
  /* position: sticky;
  top:40%; */
  position: absolute;
  bottom:18%;
  /* margin-bottom: 5px; */
}

.banner-text p{
  /* position: sticky;
  top:40%; */

  position: absolute;
  bottom:16%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-container{
  min-height: 50px;
}

.searchbox-container{
  padding: 15px;
}